/* trying to set the fonts consistently everywhere. p-component is a shared class with prime react, so this will set
   all components to use these fonts.  the internal components are set to the same font in ./index.css */

.p-component {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.DIV_Top {
    width: 100%;
    margin: 0.25em 0.25em 0.25em 0.25em;
    position: relative;
    background-color: transparent;

}
.Parameter_List {
    overflow: auto;
    position: relative;
    margin: 0em;
    flex: 1;
    /* height: calc(100% - 115px); Height calculated in this.handleResize() and set as style in code*/
}


/* the div that holds the form for entering description and scriptname */

.DIV_globalEntry {
    position: relative;
    width: 100%;
    top: 0.5em;
    height: 4.25em;
}

.column-global-entry {
    width: 50%;
}

.grid-global-entry {
    padding-top: 0.5em;
}

.tabControl {
    /* the Tabs inherit these font settings */
    position: absolute;
    font-size: 1em;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin: 0em;
}

.p-tabview-panels {
    background-color: lightgray;
    height: calc(100% - 40px);
}

.param-label {
    margin-left: 0px !important;
    font-style: italic;
}

/* the Ace Editors */

.bw-ace {
    width: 100% !important;
    height: 100% !important;
}

.divEditor {
    position: absolute;
    width: calc(100% - 1em);
    height: calc(100% - 4em);
    top: 3.25em;
    left: 0.5em;
    border-radius: 3px;
}





/* this is the little dot next to the light/dark mode.
   it makes the circle dark when in dark mode */

.pi-circle-on {
    color: black !important;
}

/*  the New Button on the Toolbar */
.bw-button > div {
    display: inline-block;
}
.bw-button {
    margin-top: 0px;
    color: #333333;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    vertical-align: middle;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    position: relative;
    box-sizing: unset;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    width: 7.5em;
    height: 2.5em;
    margin-right: 0.25em;
}

/* toolbar button */

.bw-button:hover {
    background-color: #c8c8c8;
    color: #333333;
    border-color: #c8c8c8;
    border-radius: 0.25em;
}

.bw-button-span {
    position: relative;
    font-size: 1em;
    font-weight: normal;
    padding-left: .25em;
    line-height: 1em;

}
.svg-file-new {
    margin-top: 0.125em;
}

.svg-file-new svg {
    position: relative;
    height: 1.0em;
    width: 1.0em;



}

.svg-file-new path {
    stroke: #333333;;
    fill: #333333;;
    stroke-width: 0.75px;
}

.p-menuitem-link[target="separator"] {
    height: 0px;
    display: block;
    padding: 0;
    min-height: 0;
    border-bottom: 1px #525252 solid;
    padding: 0em !important;
}

/* splitter */

.Resizer.horizontal {
    height: 0.5em;
    background-color: lightgray;
    border: 0.125em solid darkgray;
    cursor: row-resize;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 100%;
}

.Resizer.horizontal:hover {
    background-color: darkgray;
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}
