.parameter-layout-root {
    background-color: transparent;
    margin-bottom: 0.25em;
    position: relative;
    margin: .5em;
}

.parameter-item-grid {
    position: relative;
    border-radius: .25em;
    margin: 0em .5em;
    width: calc(100% - 1.0em);
    transition: all 10ms linear;
}

.parameter-item-grid-collapsed {
    visibility: collapse;
    opacity: 0.0;
}
.TheWholeThing{
    margin: 0em;
}

.parameter-fieldset {
    margin: 0em .5em;
    border: 1px solid black;
    border-radius: .25em;
    transition: all 100ms linear;
    transition-delay: 25ms;
}

.parameter-fieldset-collapsed {
    height: 2em !important;
    overflow: hidden;
    border: 0em;
}


.parameter-fieldset-selected {
    border: 3px solid blue;
    border-radius: .25em;
}

.param-label {
    margin-bottom: .5em !important;
}

.param-input {
    width: 100%;
}

.param-column {
    width: 33%;
}

.checkbox-grid {

    margin: 0px;
}

.p-checkbox-label {
    margin: 0em .5em;
}

.collapse-button {
    left: 0.125em;
    height: 1em;
    top: .25em;
    width: 1em !important;
    z-index: 10;
    position: absolute;;
    border: 1px solid blue !important;
}
.TheWholeThing {
     margin: 0.5em;
 }
