.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.topHalf
{
  height: 250px;
}
.LayoutRoot
{
  margin-left: 50px;
  margin-top: 7px;
  width: 1000px;
}
[class^="PARAMETER_DIV_"]
{    
    margin-top:10px;
}
.input_jsonDoc
{
  font-family: monospace;
  font-size: 10pt;
  width: 600px;
}
.Parameter_List
{
  height: 260px;
  overflow: auto;
}