[class^="MENU_LayoutRoot"]
{
    position: relative;
    display: flex;
    height: 100%;    
    background-color: #494949;
    overflow:hidden;
}

.MENU_LayoutRootOpen
{   
    transition: width 0.5s; 
    width: 275px;   
}
.MENU_LayoutRootClosed
{
    transition: width 0.5s;
    width: 55px;    
}


.DIV_OpenButtonSpace
{
    position: absolute;
    height: 100px;
    background-color: #494949;
    top: 0px;
    width: 100%;
}

.MENU_ItemsDiv
{
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    top: 100px;
    background-color: #494949;
    
}
.DIVMENU_Button
{
    background-color:transparent;
    border: none; 
    color: transparent; 
    padding: 0px 0px;     
    margin-left: 0px;
}
.MENU_Span
{
    position: relative;
    bottom: 0px;
    margin-left: 15px;
    color: white;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

[class^="MENU_Button"]
{   
    font-size: 16pt; 
    cursor: pointer;   
    background: transparent;
    border: 2px solid transparent; /* need to set this so the button doesn't move when .hover happens */
    color: white;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    margin-left: 10px;
    margin-top: 6px;
}
.MENU_ButtonNoText
{
    width:40px;
    height:38px;
}

.MENU_ButtonNoText:hover
{
    background-color: rgba(42, 42, 42, 5);
    border-color: darkgray;
    border: 2px solid transparent;
}

/* Darker background on mouse-over */
.MENU_Button:hover {
    background-color: rgba(42, 42, 42, 5);
    border-color: darkgray;
    border: 2px solid transparent;
  
}

[class^="IMG_Icon"]
{
    margin-right:0px;
    width: 24px;
    height: 24px;
}
.IMG_IconBurger
{
    position: relative;
}

.DIV_Spacer
{
    position: relative;
    background: transparent;
    width: 100%;
    height: 30px;
}

