.parameter-layout-root{
    background-color: transparent;
    margin-bottom: 0.25em;
}
.parameter-item-grid{
    position: relative;    
    height: 3.25em;
    border-radius: .25em;
    padding: .5em;
    margin: .5em;
    width: calc(100% - 1.0em);    
    transition: all 10ms linear;
    
}

.parameter-item-grid-collapsed{
  visibility: collapse;
  opacity: 0.0;
    
}
.parameter-fieldset{
    margin: -1.5em 0.25em 0em 1.25em;   
    border: 1px solid black;
    border-radius: .25em;
    height: 10em;
    transition: all 100ms linear;
    transition-delay: 25ms;
    
   
    
}
.parameter-fieldset-collapsed{
    height: 2em !important;
    overflow: hidden;   
    border: 0em; 
}

.parameter-fieldset:focus-within{
    border: 3px solid blue;
    border-radius: .25em;
}



.param-label{
    margin: 10px;
}

.param-input{    
    width: 100%;    
}

.param-column{
    width: 33%;
}

.checkbox-grid{
    margin-top: -.75em !important;
    margin-left: 0em;
}

.p-checkbox-label{
    margin-left: 0em !important; 
}
.collapse-button{
    margin-left: 1em!important;
    top: .5em;
    width: 1em !important;
    height: 1em;
    z-index: 10;
}